<section class="hidden">
	<form id="chat">
		<div id="chat-window" class="form-control">
			<p class="loading">{$loading}</p>
		</div>
		<div class="row">
			<div class="col-xs-1">
				<label title="{$chatscrollingtitle}" class="form-control">
					<input type="checkbox" name="chatscrolling" /> <span class="glyphicon glyphicon-play"></span>
				</label>
			</div>
			<div class="col-xs-9">
				<input type="text" name="message" class="form-control" placeholder="{$placeholder}" />
			</div>
			<div class="col-xs-2">
				<input type="submit" value="{$submit}" class="btn btn-success form-control" />
			</div>
		</div>
	</form>
</section>