<section class="hidden">
	<form id="chat">
		<div id="chat-window" class="form-control">
			<p class="loading">{$loading}</p>
		</div>
		<label title="{$chatscrollingtitle}" class="btn chat-scrolling">
			<input type="checkbox" name="chatscrolling" />
			<span>
				<span class="glyphicon glyphicon-play"></span>
				<span class="glyphicon glyphicon-pause"></span>
			</span>
		</label>
		<div class="row">
			<div class="col-xs-10">
				<input type="text" name="message" class="form-control" placeholder="{$placeholder}" />
			</div>
			<div class="col-xs-2">
				<input type="submit" value="{$submit}" class="btn btn-success form-control" />
			</div>
		</div>
	</form>
</section>