<nav>
	<ul class="nav nav-tabs nav-justified">
		<li class="active"><a href="#players" data-toggle="tab">{$tabPlayers}</a></li>
		<li><a href="#territories" data-toggle="tab">{$tabTerritories}</a></li>
		<li><a href="#regions" data-toggle="tab">{$tabRegions}</a></li>
		<li><a href="#cards" data-toggle="tab">{$tabCards}</a></li>
		<li><a href="#chatbox" data-toggle="tab">{$tabChat}<span class="number"></span></a></li>
		<li><a href="#log" data-toggle="tab">{$tabLog}<span class="number"></span></a></li>
		<li><a href="#settings" data-toggle="tab">{$tabSettings}</a></li>
	</ul>
</nav>
<div class="tab-content">
	<section id="players" class="tab-pane active">
		Players
	</section>
	<section id="territories" class="tab-pane">
		Territories
	</section>
	<section id="regions" class="tab-pane">
		Regions
	</section>
	<section id="cards" class="tab-pane">
		Cards
	</section>
	<section id="chatbox" class="tab-pane">
		{$chat}
	</section>
	<section id="log" class="tab-pane">
		Combat Log
	</section>
	<section id="settings" class="tab-pane">
		Settings
	</section>
</div>