<nav>
	<ul class="nav nav-tabs nav-justified">
		<li style="display: none;"><a href="#tab-territory"></a></li>
		<li class="active"><a href="#tab-players">{$tabPlayers}</a></li>
		<li><a href="#tab-territories">{$territories}</a></li>
		<li><a href="#tab-regions">{$regions}</a></li>
		<li class="player-only"><a href="#tab-cards">{$tabCards}</a></li>
		<li class="player-only"><a href="#tab-chatbox">{$tabChat}<span class="number"></span></a></li>
		<li><a href="#tab-log">{$tabLog}<span class="number"></span></a></li>
		<li><a href="#tab-settings">{$tabSettings}</a></li>
		<li class="mobile-only"><a href="#tab-map">{$tabMap}</a></li>
	</ul>
</nav>
<div class="row swipe-panes">
	<div class="col-sm-6">
		<section id="territory" class="swipe-pane">
			<h2><img data-value="flag" src="" alt="" /> <span data-value="name">Territory</span></h2>
			<table class="table">
				<thead>
					<tr>
						<th>{$player}</th>
						<th>{$units}</th>
						<th>{$regions}</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td data-value="owner"></td>
						<td data-value="units"></td>
						<td data-value="regions"></td>
					</tr>
				</tbody>
			</table>
			<h3>{$borders}</h3>
			<div data-value="borders">
				<div class="row" data-value="border">
					<div class="col-xs-1"><img data-value="border-flag" src="" alt="" /></div>
					<div class="col-xs-11"><a href="" data-value="border-name"></a></div>
				</div>
			</div>
		</section>
		<section id="players" class="swipe-pane active">
			<table class="table">
				<thead>
					<tr>
						<th>{$player}</th>
						<th>{$territories}</th>
						<th>{$units}</th>
						<th>{$unitsperturn}</th>
					</tr>
				</thead>
				<tbody>
					{$playerList}
				</tbody>
			</table>
		</section>
		<section id="territories" class="swipe-pane">
			<table class="table">
				<thead>
					<tr>
						<th>{$flag}</th>
						<th>{$territory}</th>
						<th>{$player}</th>
						<th>{$units}</th>
						<th>{$regions}</th>
					</tr>
				</thead>
				<tbody>
					{$territoryList}
				</tbody>
			</table>
		</section>
		<section id="regions" class="swipe-pane">
			{$regionList}
		</section>
		<section id="cards" class="swipe-pane player-only">
			{$cardList}
		</section>
		<section id="chatbox" class="swipe-pane player-only">
			{$chat}
		</section>
		<section id="log" class="swipe-pane">
			Combat Log
		</section>
		<section id="settings" class="swipe-pane">
			<label>
				<input type="checkbox" name="autoroll" />
				{$autoroll}
			</label>
			<p>{$autorolldesc}</p>
			<hr />
			<label>
				<input type="radio" name="unitgraphics" value="default" />
				{$unitgraphicsdefault}
			</label>
			<p>{$unitgraphicsdefaultdesc}</p>
			<label>
				<input type="radio" name="unitgraphics" value="numeric" />
				{$unitgraphicsnumeric}
			</label>
			<p>{$unitgraphicsnumericdesc}</p>
			<label>
				<input type="radio" name="unitgraphics" value="none" />
				{$unitgraphicsnone}
			</label>
			<p>{$unitgraphicsnonedesc}</p>
		</section>
	</div><!--
	--><div class="col-sm-6">
		<section id="map" class="swipe-pane active">
			<div class="map-square">
				<div class="map-controls">
					<button class="btn btn-default zoom-in" title="{$zoomin}">+</button>
					<button class="btn btn-default zoom-out" title="{$zoomout}">-</button>
				</div>
				<div class="map-container">
					<img src="{$mapurl}" alt="{$mapalt}" data-unit-graphics="{$unitgraphics}" />
				</div>
			</div>
		</section>
	</div>
</div>
<div id="turn-controls">
	<button class="btn btn-default collapsed" data-toggle="collapse" data-target="#controls-box">
		<span class="glyphicon glyphicon-chevron-up"></span>
		<span class="glyphicon glyphicon-chevron-down"></span>
	</button>
	<div class="collapse container-fluid" id="controls-box">
		{$turn}
		<button class="btn btn-default player-only" data-value="units-left-fortify" disabled title="{$unitsFortifyTitle}"><span class="number">0</span></button>
		<button class="btn btn-default player-only" data-value="units-left-move" disabled title="{$unitsMoveTitle}"><span class="number">0</span></button>
		<button class="btn btn-primary player-only" data-button="stack" title="{$stackTitle}">{$stack} <span class="number">0</span></button>
		<button class="btn btn-warning player-only" data-button="move" title="{$moveTitle}">{$move}</button>
		<button class="btn btn-warning player-only" data-button="endturn" title="{$endturnTitle}">{$endturn}</button>
		<button class="btn btn-danger player-only" data-button="forfeit" title="{$forfeitTitle}">{$forfeit}</button>
	</div>
</div>