<nav>
	<ul class="nav nav-tabs nav-justified">
		<li class="active"><a href="#players">{$tabPlayers}</a></li>
		<li><a href="#territories">{$territories}</a></li>
		<li><a href="#regions">{$regions}</a></li>
		<li class="player-only"><a href="#cards">{$tabCards}</a></li>
		<li class="player-only"><a href="#chatbox">{$tabChat}<span class="number"></span></a></li>
		<li><a href="#log">{$tabLog}<span class="number"></span></a></li>
		<li><a href="#settings">{$tabSettings}</a></li>
		<li class="mobile-only"><a href="#map">{$tabMap}</a></li>
	</ul>
</nav>
<div class="row swipe-panes">
	<div class="col-sm-6">
		<section id="territory" class="swipe-pane hidden">
			Territory
		</section>
		<section id="players" class="swipe-pane active">
			<table class="table">
				<thead>
					<tr>
						<th>{$player}</th>
						<th>{$territories}</th>
						<th>{$units}</th>
						<th>{$unitsperturn}</th>
					</tr>
				</thead>
				<tbody>
					{$playerList}
				</tbody>
			</table>
		</section>
		<section id="territories" class="swipe-pane">
			<table class="table">
				<thead>
					<tr>
						<th>{$flag}</th>
						<th>{$territory}</th>
						<th>{$player}</th>
						<th>{$units}</th>
						<th>{$regions}</th>
					</tr>
				</thead>
				<tbody>
					{$territoryList}
				</tbody>
			</table>
		</section>
		<section id="regions" class="swipe-pane">
			{$regionList}
		</section>
		<section id="cards" class="swipe-pane player-only">
			Cards
		</section>
		<section id="chatbox" class="swipe-pane player-only">
			{$chat}
		</section>
		<section id="log" class="swipe-pane">
			Combat Log
		</section>
		<section id="settings" class="swipe-pane">
			<label>
				<input type="checkbox" name="autoroll" />
				{$autoroll}
			</label>
			<p>{$autorolldesc}</p>
			<hr />
			<label>
				<input type="radio" name="unitgraphics" value="default" />
				{$unitgraphicsdefault}
			</label>
			<p>{$unitgraphicsdefaultdesc}</p>
			<label>
				<input type="radio" name="unitgraphics" value="numeric" />
				{$unitgraphicsnumeric}
			</label>
			<p>{$unitgraphicsnumericdesc}</p>
			<label>
				<input type="radio" name="unitgraphics" value="none" />
				{$unitgraphicsnone}
			</label>
			<p>{$unitgraphicsnonedesc}</p>
		</section>
	</div>
	<div class="col-sm-6">
		<section id="map" class="swipe-pane active">
			<div class="map-square">
				<div class="map-controls">
					<button class="btn btn-default zoom-in" title="{$zoomin}">+</button>
					<button class="btn btn-default zoom-out" title="{$zoomout}">-</button>
				</div>
				<div class="map-container">
					<img src="{$mapurl}" alt="{$mapalt}" />
				</div>
			</div>
		</section>
	</div>
</div>