<section id="new-game">
	<h1>{$title}</h1>
	<form method="post">
		<span class="help-inline">{$nameError}</span>
		<div class="input-group{$hasError}">
			<div class="input-group-addon">
				<span class="glyphicon glyphicon-tag"></span>
			</div>
			<input class="form-control" type="text" name="name" value="{$defaultname}" maxlength="{$maxlength}" placeholder="{$entergamename}" required />
		</div>
		<select class="form-control" name="map" required>
			<option disabled selected value="">{$choosemap}</option>
			{$maps}
		</select>
		<div class="input-group" id="game-color">
			<h3 class="sr-only">{$choosecolor}</h3>
			{$colors}
		</div>
		<div class="input-group">
			<div class="input-group-addon">
				<span class="glyphicon glyphicon-lock"></span>
			</div>
			<input class="form-control" type="password" name="password" value="" placeholder="{$enterpassword}" />
		</div>
		<hr />
		<input class="btn btn-success" type="submit" value="{$create}" />
	</form>
</section>