<h2>
	<img src="{$flagURL}" alt="" /> {$region}
	<button data-toggle="collapse" data-target="#region-{$id}" class="btn collapsed">
		<span class="glyphicon glyphicon-chevron-up"></span>
		<span class="glyphicon glyphicon-chevron-down"></span>
	</button>
	<button class="btn" data-button="highlight" data-region="{$id}">{$highlight}</button>
</h2>
<p>{$unitsTerritories}</p>
<div class="region-division" data-region="{$id}"></div>
<div id="region-{$id}" class="collapse">
	{$territories}
</div>