<header class="container-fluid">
	<nav class="navbar navbar-fixed-top navbar-inverse">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{$brandlink}">Imperator</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				{$nav}
			</ul>
		</div>
	</nav>
</header>