#main, #content, .swipe-panes > div, .swipe-pane, #map, #map .map-square, #map .map-container {
	height: 100%;
}

#main {
	background-color: transparent;
}

#content {
	background-color: #fff;
	position: relative;
}

#content > nav {
	white-space: nowrap;
}

#content > nav .nav-tabs.nav-justified > li {
	display: table-cell;
	width: 1%;
}

#content > nav .nav-tabs.nav-justified > li > a {
	margin-bottom: 0;
	border-bottom: 1px solid #ddd;
	border-radius: 4px 4px 0 0;
}

#content > nav .nav-tabs.nav-justified > .active > a, #content > nav .nav-tabs.nav-justified > .active > a:hover, #content > nav .nav-tabs.nav-justified > .active > a:focus {
	border-bottom-color: #fff;
}

@media (max-width: 768px) {
	#content > nav {
		overflow: hidden;
	}

	.swipe-panes > div {
		width: 100%;
	}
}

@media (min-width: 768px) {
	.mobile-only {
		display: none !important;
	}
}

#content > .row {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 92px;
	margin: 0;
}

.swipe-panes {
	overflow: hidden;
	white-space: nowrap;
}

.swipe-panes > div {
	overflow: hidden;
	white-space: nowrap;
	display: inline-block;
	vertical-align: top;
	padding: 0;
}

.swipe-pane {
	width: 100%;
	padding: 15px;
	display: inline-block;
	vertical-align: top;
	overflow: auto;
	word-wrap: break-word;
	white-space: normal;
}

.not-player .player-only {
	display: none !important;
}

#chat {
	margin-top: 0;
}

#map {
	border: 1px solid #ddd;
	border-top: none;
	text-align: center;
	position: relative;
}

#map .map-controls {
	position: absolute;
	top: 0;
	right: 0;
	opacity: 0.5;
	display: none;
	z-index: 2;
}

#map .map-controls:hover {
	opacity: 1;
}

#map .map-controls button {
	display: block;
	width: 1.5em;
	height: 1.5em;
	border-radius: unset;
	padding: 0;
	line-height: 1;
}

#map .map-controls button.zoom-in {
	cursor: zoom-in;
}

#map .map-controls button.zoom-out {
	cursor: zoom-out;
}

#map .map-container {
	overflow: hidden;
}

#map .map-container img {
	max-height: 100%;
	max-width: 100%;
}

#map .map-container svg {
	transition: height 1s;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

#map .map-container svg > g {
	stroke: #000;
	fill: #000;
	fill-rule: evenodd;
	opacity: 0.6;
	cursor: pointer;
	stroke-width: 1;
}

#map .map-container svg > g:hover {
	opacity: 1;
	stroke-width: 2;
}

#territories img, #regions img {
	height: 1em;
}

#regions h2.collapsed > .btn .glyphicon-chevron-up {
	display: none;
}

#regions h2:not(.collapsed) > .btn .glyphicon-chevron-down {
	display: none;
}