#main, #content, #content > .row, .swipe-page, #map, #map .map-square, #map .map-container, .tab-content {
	height: 100%;
}

#main {
	background-color: transparent;
}

#content {
	background-color: #fff;
}

#content > .row {
	margin: 0;
}

.swipe-page {
	padding: 0;
}

.tab-pane {
	padding: 1em;
}

#chat {
	margin-top: 0;
}

#map {
	border: 1px solid #ddd;
	text-align: center;
	position: relative;
}

#map .map-container {
	overflow: hidden;
}

#map .map-container img {
	max-height: 100%;
	max-width: 100%;
}

#map .map-controls {
	position: absolute;
	top: 0;
	right: 0;
	opacity: 0.5;
	display: none;
	z-index: 2;
}

#map .map-controls:hover {
	opacity: 1;
}

#map .map-controls button {
	display: block;
	width: 1.5em;
	height: 1.5em;
	border-radius: unset;
	padding: 0;
	line-height: 1;
}

#map .map-controls button.zoom-in {
	cursor: zoom-in;
}

#map .map-controls button.zoom-out {
	cursor: zoom-out;
}