html, body {
	height: 100%;
}

body {
	background-color: #66023C;
	background: linear-gradient(#792253, #66023C) fixed;
}

h1 {
	color: #66023c;
}

#main {
	background-color: #fff;
	min-height: 100%;
	box-shadow: 0 0 10em rgba(0, 0, 0, 0.2);
}

#content {
	padding-top: 50px;
}

#content > section + section {
	margin-top: 1.5em;
	padding-top: 0.5em;
	border-top: 1px solid #eee;
}

#player-list .user {
	color: inherit;
}

#chat {
	margin-top: 1em;
}

#chat .chat {
	padding: 0.25em;
}

#chat label {
	text-align: center;
}

#chat .chat:nth-child(even) {
	background-color: #f9f9f9;
}

#chat-window {
	margin-bottom: 1em;
	height: 10em;
	overflow: auto;
	padding: 0;
	border-radius: unset;
}

#gamelist .started td {
	background-color: #d9edf7;
}

#gamelist .ended td {
	background-color: #dff0d8;
}